{% extends 'college/adminbase.html' %}



{% block content %}

<head>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>

</head>





<div class="container">

  <div class="row">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h6 class="panel-title">FEE OF STUDENTS</h6>

      </div>

      <table class="table table-hover" id="dev-table">
        <thead>

          <tr>
            <th>Class Name</th>

            <th>View Dues</th>
          </tr>
        </thead>

        <tr>
          <td>First Year</td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'admin-view-fee' 'one'  %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
        </tr>

        <tr>
          <td> Second Year</td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'admin-view-fee' 'two'  %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
        </tr>

        <tr>
          <td> Third Year</td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'admin-view-fee' 'three'  %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
        </tr>

        <tr>
          <td> Fourth Year</td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'admin-view-fee' 'four'  %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
        </tr>

        <tr>
          

      </table>
    </div>


  </div>
</div>

{% endblock content %}
